<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Create a Room</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/metrics">Get Metrics</a>
      </li>
    </ul>
  </div>
</nav>